body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background-color 500ms ease;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "bitbit";
  src: url("//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff"),
    url("//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff2");
}

:root {
  --pixel-img-size: calc(96px + 5vmin);
  --pot-img-size: calc(var(--pixel-img-size) * 1.25)
}

.pixel-img {
  position: absolute;
  transition: all 1s ease;
  top: calc(-1 * var(--pixel-img-size) / 2);
  left: calc(-1 * var(--pixel-img-size) / 2);
  width: var(--pixel-img-size);
  height: var(--pixel-img-size);
}

.pixel-img.pot {
  top: calc(-1 * var(--pot-img-size) / 2);
  left: calc(-1 * var(--pot-img-size) / 2);
  width: var(--pot-img-size);
  height: var(--pot-img-size);
}
