.login-btn-container {
  padding-bottom: 20px;
}

.login-btn {
  padding: 10px;
  margin: 5px;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25),
    -2px -2px 2px rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

.login-btn:active {
  box-shadow: 2px 2px 2px inset rgba(0, 0, 0, 0.25),
    -2px -2px 2px inset rgba(255, 255, 255, 0.3);
}
